body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    padding: 2em;
    margin: 1em 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    color: #4CAF50;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

img {
   height: 250px;
   
    display: inline-block;
}

iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    display: block;
    margin: 10px auto;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}